body {
  font-family:
    "Inter",
    tahoma,
    sans-serif;
  width: 100%;
}

.invisible {
  display: none;
}

* {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  padding-left: 24px;
  padding-right: 35px;
}

nav ul a {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  display: flex;
  margin: 20px;
}

small {
  color: red;
  padding: 0.75rem;
  display: flex;
  margin-left: 20px;
}

.navigation a {
  flex: 1;
  font-style: normal;
  color: #28352f;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}

.nav_collapse {
  display: none;
}

.visible {
  visibility: visible;
  margin-left: 0;
}

div.hamburguer {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: white;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  margin-left: -100%;
  top: 0;
}

div.hamburguer ul.hamburguer {
  list-style: none;
  padding-top: 100px;
  padding-bottom: 300px;
}

div.hamburguer li.hamburguer {
  font-family: "Inter", Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 30px;
}

div.hamburguer li .hamburguer-link {
  text-decoration: none;
  color: #3a4a42;
}

div.hamburguer button {
  float: right;
  margin-top: 18px;
  margin-right: 18px;
}

.run {
  animation: run ease 0.5s;
  animation-fill-mode: forwards;
}

.run-out {
  animation: run-out ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes run {
  0% {
    margin-left: -100%;
  }

  100% {
    margin-left: 0%;
  }
}

@keyframes run-out {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: -100%;
  }
}

.collapse {
  display: none;
}

.button_Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 100%;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100vh;
  width: 100%;
  padding: 3rem 0 0 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  z-index: 2;
}

#closebtn {
  align-self: flex-end;
  margin-right: 2rem;
}

.hero {
  /* background-image: url(assets/images/background_img.svg); */
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  padding-top: 60px;
}

.hero_content {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.hero_head {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #172b4d;
}

.hero_head span {
  color: #36b37e;
}

.text {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.hero ul {
  display: flex;
  width: 30%;
}

.hero li {
  list-style: none;
  flex: 1;
}

.popup_noscroll {
  overflow-y: hidden;
}

.projects_header {
  position: absolute;
  width: 327px;
  height: 200px;
  top: 100px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  order: 0;
  flex-grow: 0;
  margin: 24px;
}

.work_card_image {
  width: 345px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutme_head {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 10px 0;
}

#down_icon {
  margin-top: 40px;
}

.flex_container_primary {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 15px;
  margin-bottom: 150px;
  height: min-content;
  width: 95%;
  justify-self: center;
}

.placehold {
  height: 252px;
}

.flex_container_primary h3 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.flex_container_primary ul {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.flex_container_primary li {
  flex: none;
  list-style-type: none;
  padding: 8px 12px;
  margin: 0 8px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  background: #ebf0ee;
}

.flex_container_secondary {
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 20px;
  gap: 20px;
}

.web_button {
  background: #36b37f;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 15px;
  margin: 15px;
  transition: all 300ms ease-in 0ms;
}

a.web_button:hover {
  background: #36b37f;
  box-shadow: 1px -1px 26px -3px rgba(54, 179, 127, 0.52);
  -webkit-box-shadow: 1px -1px 26px -3px rgba(54, 179, 127, 0.52);
  -moz-box-shadow: 1px -1px 26px -3px rgba(54, 179, 127, 0.52);
}

a.web_button:active {
  background-color: #008552;
}

.overlap {
  all: inherit;
  transform: translateY(-263px);
  z-index: 1;
  background-color: #fff;
  border-radius: 10px;
}

.aboutme_text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: 40px;
}

.grid_container_aboutme {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: center;
}

.first_about_container {
  background-size: 80px;
  background-image: url(assets/images/desktop/aboutme1.png), url(assets/images/desktop/aboutme2.png);
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
}

.center_align {
  align-self: center;
}

.center_button {
  width: fit-content;
  justify-self: center;
  align-self: center;
}

.nested_flexbox {
  background: #ebf0ee;
  border-radius: 8px;
  text-align: center;
  list-style: none;
  height: auto;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}

.nested_flexbox ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nested_flexbox img {
  order: -1;
}

.first_footer_section {
  background-image: url(./assets/images/desktop/contact-form-illustratoin-3-desktop.svg);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 330px 710px;
  width: 100%;
  margin-bottom: 260px;
}

.popup_footer img {
  padding-left: 0.75rem;
}

.navigation img:hover {
  transform: scale(1.05);
}

.nested_flexbox h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  width: 80%;
}

.nested_flexbox li {
  flex: none;
  list-style-type: none;
  padding: 8px 12px;
  margin: 8px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #fff;
  color: #36b37e;
}

.contact_head {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

form {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  gap: 24px;
}

.first_footer_section input {
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  width: 90%;
  height: 48px;
  margin-left: 24px;
}

.first_footer_section textarea {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #60c095;
  background: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  width: 90%;
  box-sizing: border-box;
  height: 114px;
  margin-left: 24px;
}

.form_foot_button {
  margin-left: 24px;
  background: #36b37f;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 17px;
  border: 1px solid #fff;
}

footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer_icon {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin-top: 40px;
}

.footer_icon li {
  list-style: none;
}

.first_footer_section h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0;
}

.popup {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.popup_body {
  display: flex;
  flex-direction: column;
}

.popup_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  order: 5;
}

.popup_footer a {
  margin: 1rem 0 0 0;
  display: flex;
}

.popup_img {
  order: 1;
}

.popup_img2 {
  display: none;
}

.popup_body h2 {
  order: 2;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 1rem 0 0 0;
}

#popup_container {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.desktop_nav {
  display: none;
}

.form_button {
  background: #36b37f;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 17px;
}

.form_button:hover,
.form_button:focus {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.form_button:active {
  background-color: #008552;
}

.links {
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links ul {
  display: flex;
  width: 30%;
}

.links li {
  list-style: none;
  flex: 1;
}

.popup_body p {
  order: 4;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.close_mobile {
  display: flex;
  position: absolute;
  width: fit-content;
  align-self: flex-end;
  margin: 1.5rem 1.5rem 0 0;
}

.close_desktop {
  display: none;
}

.ul_mobile {
  order: 3;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

.ul_mobile li {
  flex: none;
  list-style-type: none;
  padding: 8px 12px;
  margin: 0 8px 0 0;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  background: #ebf0ee;
}

.ul_desktop {
  display: none;
}

.popup_header {
  display: none;
}

.desktop-fields {
  display: none;
}

@media screen and (min-width: 768px) {
  #icon {
    display: none;
  }

  #logo {
    display: none;
  }

  li img,
  nav a,
  .hero_head {
    transition: all 0.9s ease;
  }

  .nav_collapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    background: none;
  }

  #closebtn {
    display: none;
  }

  nav ul img {
    display: none;
  }

  nav ul {
    list-style: none;
    padding: 0;
    height: auto;
    position: initial;
    background: none;
    overflow: initial;
    flex-direction: row;
    justify-content: center;
  }

  nav ul a {
    margin: 26px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    transition-property: font-size, color;
    transition-duration: 1s, 1s;
    transition-delay: 0s, 0s;
  }

  .toolbar {
    display: none;
  }

  .logo {
    display: none;
  }

  .background_desktop {
    background-image: url(./assets/images/desktop/main-page-desktop-background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130vh;
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .tool_nav {
    display: none;
  }

  .desktop_nav {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .desktop_nav a {
    margin: 26px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    transition: all 250ms ease-out 0ms;
  }

  .popup_body a {
    margin: 1rem 0 0 0;
  }

  .popup_footer a {
    margin: 1rem 0 0 0;
    display: none;
  }

  .popup_header a {
    align-items: center;
    display: flex;
  }

  .popup_header img {
    padding-left: 0.75rem;
  }

  li img:hover,
  nav a:hover,
  .hero_head:hover {
    transform: scale(1.05);
    transition-duration: 0.9s;
  }

  .desktop_nav a:hover {
    font-weight: bold;
    font-size: 20px;
  }

  .hero {
    background-image: none;
  }

  .hero p {
    width: 45%;
  }

  .hero ul {
    width: 20%;
    padding: 0;
    margin: 20px 0 70px 0;
  }

  .hero li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in 0ms;
    position: relative;
  }

  .flex_container_primary li {
    margin: 8px;
  }

  .btn_effects {
    background: #36b37f;
  }

  .btn_effects:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
  }

  .btn_effects:active {
    background: #008552;
  }

  .ul_desktop li {
    flex: none;
    list-style-type: none;
    padding: 8px 12px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #3a4a42;
    background: #ebf0ee;
  }

  .hero li:hover {
    bottom: 3px;
  }

  .flex_container_primary {
    margin-bottom: 0;
  }

  .flex_container_primary ul {
    flex-wrap: wrap;
  }

  .blur {
    background: rgba(238, 239, 240, 0.5);
    backdrop-filter: blur(5px);
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100vh;
  }

  .blur div.modal-project {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
    gap: 12px;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 920px;
    height: 1083px;
  }

  .blur div.modal-project .close {
    align-self: flex-end;
    font-size: 20px;
    cursor: pointer;
  }

  .blur div.modal-project img.modal-project {
    width: 872px;
    height: 616px;
  }

  .blur div.modal-project .dsk-pos {
    display: flex;
    flex-direction: row;
  }

  .blur div.modal-project h3.modal-project {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    color: #172b4d;
    width: 65%;
  }

  .blur div.modal-project .modal-mobile {
    display: none;
  }

  .blur div.modal-project .modal-dsk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: flex-end;
    justify-self: start;
    padding-bottom: 40px;
  }

  .blur div.modal-project .modal-btn-div .modal-btn1,
  .blur div.modal-project .modal-btn-div .modal-btn2 {
    background: #36b37f;
    border-radius: 4px;
    color: #fff;
    padding: 12px 16px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .blur div.modal-project .modal-btn-div .bi {
    padding-left: 15px;
  }

  .blur div.modal-project ul.modal-project {
    list-style-type: none;
    display: flex;
    justify-content: start;
    padding: 0;
    gap: 8px;
  }

  .blur div.modal-project ul.modal-project li {
    background-color: #ebf0ee;
    padding: 8px 12px;
    color: #3a4a42;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .blur div.modal-project p.modal-project {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: justify;
  }

  .popup_body h2 {
    order: 0;
    width: 65%;
  }

  footer h4 {
    display: none;
  }

  html body .section_works {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
  }

  html body .section_works .recent_works_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48px;
    width: 447px;
    border-radius: 8px;
    gap: 24px;
  }

  html body .section_works .recent_works_div h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #172b4d;
  }

  html body .section_works .recent_works_div img {
    display: none;
  }

  html body .section_works .card_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    border-radius: 0;
    padding: 0;
    gap: 24px;
  }

  html body .section_works .card_row article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    height: 474px;
    width: 369px;
    width: calc(100% / 3.5);
    border-radius: 8px;
  }

  html body .section_works .card_row article .placeholder {
    height: 474px;
    width: 100%;
    border-radius: 8px;
    background: #ebf0ee;
    opacity: 1;
  }

  html body .section_works .card_row article .card_container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 222px;
    width: 100%;
    border-radius: 8px;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #fff;
  }

  html body .section_works .card_row article .card_container1 h4 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
    height: 57px;
    width: 100%;
    border-radius: 8px;
    margin: 0;
  }

  html body .section_works .card_row article .card_container1 ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 32px;
    border-radius: 0;
    padding: 0;
    gap: 8px;
    list-style-type: none;
  }

  html body .section_works .card_row article .card_container1 ul div {
    align-items: center;
    justify-content: stretch;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
    background: #ebf0ee;
    font-size: 10px;
  }

  html body .section_works .card_row article .card_container1 ul div .liModal {
    border-radius: 8px;
    text-align: center;
    color: #172b4d;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  html body .section_works .card_row article .card_container1 .div_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    border-radius: 0;
    margin-bottom: 16px;
  }

  html body .section_works .card_row article .card_container1 .div_button .btn_see_projects {
    width: 122px;
    height: 48px;
    border-radius: 4px;
    gap: 10px;
    border: none;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    outline: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .footer_icon {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }

  .aboutme_text {
    width: 50%;
    display: flex;
    justify-self: center;
  }

  .first_about_container {
    background-size: 150px;
  }

  .grid_container_aboutme {
    padding: 0;
  }

  .flex_container_secondary {
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    gap: 20px;
  }

  .nested_flexbox {
    width: 350px;
    height: 320px;
    margin-bottom: 30px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 95%;
    padding: 20px;
    gap: 20px;
  }

  .contact_head {
    width: 50%;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
    box-sizing: border-box;
  }

  .popup {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .popup_body {
    display: flex;
    flex-direction: column;
  }

  .popup_h2 {
    display: none;
  }

  .popup_header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .popup_footer {
    display: flex;
    justify-content: space-between;
  }

  .close_mobile {
    display: none;
  }

  .close_desktop {
    display: flex;
    width: fit-content;
    align-self: flex-end;
  }

  .popup_img {
    display: none;
  }

  .popup_img2 {
    display: initial;
    border-radius: 8px;
    width: 100%;
    margin-top: 2%;
  }

  .ul_desktop {
    order: 3;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
  }

  .ul_mobile {
    display: none;
  }

  .first_footer_section {
    display: flex;
    flex-direction: row;
    flex: 1 1 100px;
    align-items: center;
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background-image:
      url(./assets/images/desktop/illustration-1-contact-form-desktop.svg),
      url(./assets/images/desktop/contact-form-illustratoin-3-desktop.svg),
      url(./assets/images/desktop/illustration-2-contact-form-desktop.svg);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: left 450px, right 400px, 200px 450px;
  }

  form {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .first_footer_section input {
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    width: 100%;
  }

  .first_footer_section textarea {
    border-radius: 4px;
    border: 1px solid #60c095;
    background: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }

  .button_Container {
    margin: 0;
    line-height: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .button_foot_Container {
    margin-left: 24px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .first_footer_section button {
    background: #36b37f;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    width: 40%;
  }

  .first_footer_section button:hover,
  .first_footer_section button:focus {
    opacity: 0.9;
    outline: 0;
  }

  .form_foot_button {
    margin: 0;
  }

  small {
    color: red;
  }
}

@media screen and (max-width: 767px) {
  html body .section_works {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-bottom: 64px;
    gap: 58px;
  }

  html body .section_works .recent_works_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
    margin-top: 30px;
  }

  html body .section_works .recent_works_div h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    color: #172b4d;
    width: 100%;
  }

  html body .section_works .recent_works_div img {
    height: 4px;
    width: 48px;
    border-radius: 24px;
  }

  html body .section_works .card_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 0;
  }

  html body .section_works .card_row article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    width: 95%;
    max-width: 354px;
    border-radius: 8px;
  }

  html body .section_works .card_row article .placeholder {
    width: 100%;
    border-radius: 8px;
    background: #ebf0ee;
    opacity: 1;
  }

  html body .section_works .card_row article .card_container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-end-end-radius: 8px;
    background-color: #fff;
  }

  html body .section_works .card_row article .card_container1 h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    color: #3a4a42;
    height: 57px;
    width: 295px;
    border-radius: 8px;
  }

  html body .section_works .card_row article .card_container1 ul {
    display: flex;
    justify-content: center;
    height: 32px;
    width: 305px;
    border-radius: 0;
    padding: 0;
    gap: 8px;
    list-style-type: none;
    font-size: 12px;
  }

  html body .section_works .card_row article .card_container1 ul div {
    align-items: center;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    background: #ebf0ee;
  }

  html body .section_works .card_row article .card_container1 .div_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 305px;
    border-radius: 0;
  }

  html body .section_works .card_row article .card_container1 .div_button .btn_see_projects {
    height: 48px;
    width: 122px;
    border-radius: 4px;
    gap: 10px;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: #36b37f;
  }

  .footer_icon li {
    list-style: none;
    align-items: center;
    align-content: center;
    padding: 5px;
  }

  .blur {
    background: #c1c7d0;
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 20px 16px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
  }

  .blur div.modal-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
    gap: 12px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    overflow: scroll;
    height: 500px;
  }

  .blur div.modal-project .close {
    position: absolute;
    top: 45px;
    right: 40px;
    width: 30px;
    height: 30px;
  }

  .blur div.modal-project img.modal-project {
    width: 311px;
    height: 220px;
  }

  .blur div.modal-project h3.modal-project {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: #172b4d;
    width: 259px;
    height: 135px;
    padding-right: 18px;
  }

  .blur div.modal-project .modal-dsk {
    display: none;
  }

  .blur div.modal-project .modal-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .blur div.modal-project .modal-btn-div .modal-btn1,
  .blur div.modal-project .modal-btn-div .modal-btn2 {
    background: #36b37f;
    border-radius: 4px;
    color: #fff;
    padding: 12px 16px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .blur div.modal-project .modal-btn-div .bi {
    padding-left: 15px;
  }

  .blur div.modal-project ul.modal-project {
    list-style-type: none;
    display: flex;
    justify-content: start;
    padding: 0;
    gap: 8px;
  }

  .blur div.modal-project ul.modal-project .liModal {
    background-color: #fff;
    padding: 8px 16px;
    color: #3a4a42;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    gap: 12px;
    height: 36px;
    left: calc((50% - 343px) / 2);
    top: 20px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .blur div.modal-project p.modal-project {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: justify;
    width: 311px;
    height: 313px;
    color: #344563;
  }

  html body .section_works .card_row article .card_container1 ul div .liModal {
    border-radius: 8px;
    text-align: center;
    color: #3a4a42;
  }
}
